Repository legend-exp/pygama, pull requests merged in 2022-11, with the labels that each got.

#405 Add missing `@abstractmethod` decorator to `DataStreamer.close_stream()`
  .github/workflows/main.yml
  .pre-commit-config.yaml
  src/pygama/raw/data_streamer.py
Labels: raw

#402 Add function to run both the numba and pure python versions of some function
  docs/source/developer.rst
  tests/conftest.py
  tests/dsp/processors/test_fixed_time_pickoff.py
Labels: tests, dsp

#401 Bug fixes and improvements to the waveform browser
  src/pygama/dsp/build_dsp.py
  src/pygama/dsp/processing_chain.py
  src/pygama/lgdo/lgdo_utils.py
  src/pygama/lgdo/lh5_store.py
  src/pygama/vis/waveform_browser.py
  tests/lgdo/test_lgdo_utils.py
Labels: lgdo, vis
