Repository legend-exp/pygama, pull requests merged in 2022-09, with the labels that each got.

#359 LGDO's `__repr__()` and `__str__()` review
  src/pygama/lgdo/__init__.py
  src/pygama/lgdo/array.py
  src/pygama/lgdo/arrayofequalsizedarrays.py
  src/pygama/lgdo/scalar.py
  src/pygama/lgdo/struct.py
  src/pygama/lgdo/table.py
  src/pygama/lgdo/vectorofvectors.py
  src/pygama/lgdo/waveform_table.py
  src/pygama/raw/raw_buffer.py
  tests/lgdo/test_representations.py
Labels: lgdo

#365 Adding `numpy.constants` parsing to `dsp.processing_chain`
  src/pygama/dsp/processing_chain.py
  tests/dsp/configs/numpy-parsing.json
  tests/dsp/test_numpy_constants_parsing.py
Labels: dsp

#363 `lgdo.Table.eval()` change to use NumExpr2
  src/pygama/lgdo/table.py
  tests/hit/configs/basic-hit-config.json
  tests/hit/test_build_hit.py
  tests/lgdo/test_table_eval.py
Labels: lgdo, hit

#367 Bug fix in `build_hit.build_hit()`
  src/pygama/hit/build_hit.py
Labels: bug, hit

#368 Fix `build_hit()` file overwriting bug
  src/pygama/hit/build_hit.py
Labels: bug, hit

#364 Fixes to ProcessingChain
  src/pygama/dsp/processing_chain.py
Labels: dsp

#369 Data Cleaning Processors
  src/pygama/dsp/processors/__init__.py
  src/pygama/dsp/processors/time_over_threshold.py
Labels: dsp

#373 fix flake8 errors on ABC usage.
  src/pygama/raw/data_decoder.py
  src/pygama/raw/data_streamer.py
Labels: raw

#349 Added discrete wavelet transform processor
  setup.cfg
  src/pygama/dsp/processors/__init__.py
  src/pygama/dsp/processors/dwt.py
Labels: dsp

#355 New DSP processors for SiPM waveforms
  src/pygama/dsp/processors/__init__.py
  src/pygama/dsp/processors/get_multi_local_extrema.py
  src/pygama/dsp/processors/histogram.py
  src/pygama/dsp/processors/peak_snr_threshold.py
  tests/conftest.py
  tests/dsp/configs/sipm-dsp-config.json
  tests/dsp/test_build_dsp.py
  tests/dsp/test_histogram.py
  tests/dsp/test_processing_chain.py
  tests/hit/configs/spms-hit-a-config.json
  tests/hit/configs/spms-hit-config.json
  tests/hit/configs/spms-hit-multi-config.json
  tests/hit/test_build_hit.py
Labels: dsp

#371 Add possibility to parse a list to the parameter entry of the DSP JSON
  src/pygama/dsp/processing_chain.py
  tests/dsp/test_list_parsing.py
Labels: dsp

#375 lh5_tables argument in build_dsp now accepts a single string
  src/pygama/dsp/build_dsp.py
Labels: dsp

#376 Bump legend-testdata version and get it from PyPI
  setup.cfg
Labels: tests, packaging

#378 TCM docstring cosmetics
  docs/source/conf.py
  src/pygama/dsp/processing_chain.py
  src/pygama/evt/__init__.py
  src/pygama/evt/build_tcm.py
  src/pygama/evt/tcm.py
  src/pygama/vis/waveform_browser.py
Labels: evt

#374 Improved handling of Numba default options, add `PYGAMA_*` shell variables
  docs/source/manuals/build_dsp.rst
  src/pygama/dsp/processors/convolutions.py
  src/pygama/dsp/processors/fftw.py
  src/pygama/dsp/processors/gaussian_filter1d.py
  src/pygama/dsp/processors/param_lookup.py
  src/pygama/dsp/processors/wiener_filter.py
  src/pygama/dsp/utils.py
Labels: dsp

#360 Added interpolation option to `fixed_time_pickoff()` processor
  src/pygama/dsp/processing_chain.py
  src/pygama/dsp/processors/__init__.py
  src/pygama/dsp/processors/fixed_time_pickoff.py
  src/pygama/dsp/processors/multi_a_filter.py
  src/pygama/dsp/processors/time_point_thresh.py
  src/pygama/dsp/processors/upsampler.py
  tests/dsp/configs/icpc-dsp-config.json
Labels: dsp

#380 Enable wheels building in GitHub actions and set up PyPI uploads
  .github/workflows/distribution.yml
  .gitignore
  .pre-commit-config.yaml
  .readthedocs.yaml
  MANIFEST.in
  README.md
  docs/Makefile
  docs/source/conf.py
  docs/source/developer.rst
  docs/source/index.rst
  docs/source/install.rst
  setup.cfg
Labels: packaging
