Repository legend-exp/pygama, pull requests merged in 2022-08, with the labels that each got.

#336 Redirect documentation to latest release
  README.md
  docs/Makefile
  docs/source/_assets/redirect.html
Labels: docs

#338 Deploy documentation on Read The Docs
  .github/workflows/main.yml
  .readthedocs.yaml
  README.md
  docs/Makefile
  docs/source/.py_api_exclude
  docs/source/_templates/layout.html
  docs/source/conf.py
  docs/source/developer.rst
  setup.cfg
Labels: docs

#342 [docs] a couple more website URL fixes
  .github/pull_request_template.md
  README.md
  setup.cfg
  src/pygama/__init__.py
Labels: docs

#341 Initial versions and updates of pargen scripts
  .pre-commit-config.yaml
  docs/source/conf.py
  setup.cfg
  src/pygama/dsp/processors/convolutions.py
  src/pygama/math/histogram.py
  src/pygama/math/peak_fitting.py
  src/pygama/pargen/AoE_cal.py
  src/pygama/pargen/cuts.py
  src/pygama/pargen/data_cleaning.py
  src/pygama/pargen/dsp_optimize.py
  src/pygama/pargen/ecal_th.py
  src/pygama/pargen/energy_cal.py
  src/pygama/pargen/energy_optimisation.py
  src/pygama/pargen/extract_tau.py
  src/pygama/pargen/mse_psd.py
  tests/pargen/test_energy_optimization.py
Labels: pargen

#346 Update extract_tau.py
  src/pygama/pargen/extract_tau.py
Labels: bug, pargen

#345 More advanced `build_hit` interface
  setup.cfg
  src/pygama/hit/build_hit.py
  src/pygama/lgdo/struct.py
  src/pygama/lgdo/table.py
  tests/hit/configs/basic-hit-config.json
  tests/hit/test_build_hit.py
  tests/lgdo/test_struct.py
  tests/lgdo/test_table.py
Labels: lgdo, hit

#351 Pargen updates for new build_hit
  src/pygama/pargen/AoE_cal.py
  src/pygama/pargen/cuts.py
  src/pygama/pargen/ecal_th.py
  src/pygama/pargen/energy_optimisation.py
Labels: pargen

#350 Bare-bones class for setting global Numba options
  docs/source/manuals/build_dsp.rst
  src/pygama/dsp/processors/bl_subtract.py
  src/pygama/dsp/processors/convolutions.py
  src/pygama/dsp/processors/fftw.py
  src/pygama/dsp/processors/fixed_time_pickoff.py
  src/pygama/dsp/processors/gaussian_filter1d.py
  src/pygama/dsp/processors/get_multi_local_extrema.py
  src/pygama/dsp/processors/linear_slope_fit.py
  src/pygama/dsp/processors/log_check.py
  src/pygama/dsp/processors/min_max.py
  src/pygama/dsp/processors/moving_windows.py
  src/pygama/dsp/processors/multi_a_filter.py
  src/pygama/dsp/processors/multi_t_filter.py
  src/pygama/dsp/processors/optimize.py
  src/pygama/dsp/processors/param_lookup.py
  src/pygama/dsp/processors/pole_zero.py
  src/pygama/dsp/processors/presum.py
  src/pygama/dsp/processors/pulse_injector.py
  src/pygama/dsp/processors/saturation.py
  src/pygama/dsp/processors/soft_pileup_corr.py
  src/pygama/dsp/processors/time_point_thresh.py
  src/pygama/dsp/processors/trap_filters.py
  src/pygama/dsp/processors/upsampler.py
  src/pygama/dsp/processors/wiener_filter.py
  src/pygama/dsp/processors/windower.py
  src/pygama/dsp/utils.py
  tests/dsp/test_utils.py
Labels: dsp

#352 Changes for better pulser handling
  src/pygama/pargen/AoE_cal.py
  src/pygama/pargen/cuts.py
  src/pygama/pargen/ecal_th.py
  src/pygama/pargen/extract_tau.py
Labels: pargen

#353 Set Numba `cache=False` by default
  docs/source/manuals/build_dsp.rst
  src/pygama/dsp/utils.py
Labels: dsp
