Repository legend-exp/pygama, pull requests merged in 2022-10, with the labels that each got.

#383 Add `lh5_store.show()` and new notebooks for the online docs
  .github/workflows/main.yml
  docs/Makefile
  docs/source/conf.py
  docs/source/developer.rst
  docs/source/notebooks/LH5Files.ipynb
  docs/source/notebooks/WaveformBrowser.ipynb
  docs/source/notebooks/metadata/dsp-config.json
  docs/source/tutorials.rst
  setup.cfg
  src/pygama/cli.py
  src/pygama/lgdo/__init__.py
  src/pygama/lgdo/lh5_store.py
  src/pygama/logging.py
  tests/lgdo/test_lh5_store.py
Labels: docs, lgdo

#339 Implemented Struck SIS3316 DAQ (via ORCA) decoder
  src/pygama/raw/orca/__init__.py
  src/pygama/raw/orca/orca_base.py
  src/pygama/raw/orca/orca_digitizers.py
  src/pygama/raw/orca/orca_streamer.py
  tests/conftest.py
  tests/raw/test_build_raw.py
Labels: raw

#390 Install all extra dependencies in RTD build
  .readthedocs.yaml
Labels: docs

#337 Data loading utilities, first implementation
  setup.cfg
  src/pygama/dsp/build_dsp.py
  src/pygama/flow/__init__.py
  src/pygama/flow/data_loader.py
  src/pygama/flow/file_db.py
  src/pygama/lgdo/lh5_store.py
  src/pygama/lgdo/table.py
  src/pygama/lgdo/vectorofvectors.py
  src/pygama/raw/build_raw.py
  tests/conftest.py
  tests/flow/configs/data-loader-config.json
  tests/flow/configs/filedb-config.json
  tests/flow/conftest.py
  tests/flow/test_data_loader.py
  tests/flow/test_filedb.py
  tests/lgdo/test_table.py
  tests/lgdo/test_vectorofvectors.py
Labels: flow

#392 Remove Sphinx mock imports (fixes #344)
  docs/source/conf.py
  setup.cfg
Labels: docs

#398 Disable multithreaded sphinx build
  docs/Makefile
Labels: bug, docs

#387 Fix `VectorOfVectors` read/write and add fancy indexing support
  .pre-commit-config.yaml
  docs/source/conf.py
  docs/source/notebooks/LH5Files.ipynb
  docs/source/notebooks/WaveformBrowser.ipynb
  setup.cfg
  src/pygama/lgdo/lh5_store.py
  src/pygama/vis/waveform_browser.py
  tests/lgdo/test_lh5_iterator.py
  tests/lgdo/test_lh5_store.py
  tests/vis/test_waveform_browser.py
  tutorials/WaveformBrowserTutorial.ipynb
Labels: lgdo

#394 Update `IntroToDSP.ipynb` tutorial to work with `pygama` 1.1.0
  docs/source/notebooks/IntroToDSP.ipynb
  docs/source/tutorials.rst
  tutorials/IntroToDSP.ipynb
Labels: docs, dsp

#399 Add `fixed_time_pickoff` unit test
  .github/workflows/main.yml
  tests/dsp/processors/test_fixed_time_pickoff.py
Labels: tests, dsp

#404 Ignore Flake8 error about print statement
  src/pygama/raw/orca/orca_packet.py
Labels: raw
