Repository legend-exp/pygama, pull requests merged in 2022-04, with the labels that each got.

#245 Unit tests cleanup
  .github/workflows/get-dependencies.sh
  .github/workflows/main.yml
  pygama/dsp/test/unit_test.py
  pygama/flow/test/unit_test.py
  pygama/hit/test/unit_test.py
  pygama/lgdo/test/test_lgdo_utils.py
  pygama/lgdo/test/test_struct.py
  pygama/math/histogram.py
  pygama/math/peak_fitting.py
  pygama/math/test/test_fwhm.py
  pygama/pargen/test/ecal_test.py
  pygama/raw/fc/__init__.py
  pygama/raw/orca/__init__.py
  pygama/raw/test/raw_buffer_test.py
  pygama/vis/test/unit_test.py
  pytest.ini
  test/README.md
  test/functional/l200_dataproc_test.py
  test/functional/teststand_dataproc_test.py
  test/integration/integration_test.py
  test/lh5/test_types.py
  test/pygama_test.py
  tests/functional/test_l200_dataproc.py
  tests/functional/test_teststand_dataproc.py
  tests/integration/test_integration.py
  tests/lgdo/test_lgdo_utils.py
  tests/lgdo/test_struct.py
  tests/math/test_fwhm.py
  tests/pargen/test_ecal.py
  tests/raw/test_raw_buffer.py
Labels: tests

#247 raw refactor for flashcams
  pygama/hit/hit_to_evt.py
  pygama/lgdo/lh5_store.py
  pygama/lgdo/scalar.py
  pygama/lgdo/struct.py
  pygama/math/utils.py
  pygama/raw/build_raw.py
  pygama/raw/data_decoder.py
  pygama/raw/data_streamer.py
  pygama/raw/fc/fc_config_decoder.py
  pygama/raw/fc/fc_event_decoder.py
  pygama/raw/fc/fc_status_decoder.py
  pygama/raw/fc/fc_streamer.py
  pygama/raw/orca/orca_flashcam.py
  pygama/raw/raw_buffer.py
Labels: raw

#248 Refactor
  pygama/analysis/__init__.py
  pygama/dsp/ProcessingChain.py
  pygama/dsp/WaveformBrowser.py
  pygama/dsp/__init__.py
  pygama/dsp/_processors/fftw.py
  pygama/dsp/_processors/trap_filters.py
  pygama/dsp/_processors/windower.py
  pygama/dsp/build_dsp.py
  pygama/dsp/build_processing_chain.py
  pygama/dsp/processing_chain.py
  pygama/lgdo/lh5_store.py
  pygama/vis/waveform_browser.py
  tutorials/metadata/__init__.py
  tutorials/metadata/dsp_config.json
Labels: dsp
