Repository legend-exp/pygama, pull requests merged in 2022-12, with the labels that each got.

#424 Update path for the main branch build status badge
  README.md
Labels: docs

#425 Add functionality for testing factory functions in DSP, Add discrete_wavelet_transform test
  docs/source/developer.rst
  tests/conftest.py
  tests/dsp/processors/test_dwt.py
Labels: tests, dsp

#411 Add DPLMS DSP processor
  src/pygama/dsp/processors/__init__.py
  src/pygama/dsp/processors/dplms.py
  tests/dsp/configs/sipm-dplms-config.json
  tests/dsp/processors/dplms_noise_mat.dat
  tests/dsp/processors/test_dplms.py
Labels: dsp

#426 Fix check for if the decoded values were built in ORFlashCamADCWaveformDecoder
  src/pygama/raw/orca/orca_flashcam.py
Labels: bug
