Repository legend-exp/pygama, pull requests merged in 2023-03, with the labels that each got.

#458 Fix hardcoded dtype for output buffer
  src/pygama/dsp/processing_chain.py
Labels: bug, dsp

#459 New Orca/FlashCam keying convention, fix timestamp issue, draft status decoding
  src/pygama/raw/build_raw.py
  src/pygama/raw/compass/compass_event_decoder.py
  src/pygama/raw/fc/fc_event_decoder.py
  src/pygama/raw/orca/orca_digitizers.py
  src/pygama/raw/orca/orca_flashcam.py
  src/pygama/raw/orca/orca_streamer.py
  tests/raw/buffer_processor/test_buffer_processor.py
  tests/raw/buffer_processor/test_lh5_buffer_processor.py
  tests/raw/configs/orca-out-spec-cli.json
  tests/raw/configs/orca-out-spec.json
  tests/raw/fc/test_fc_event_decoder.py
  tests/raw/test_build_raw.py
  tests/raw/test_daq_to_raw.py
Labels: raw

#460 Remove deprecated `flow.DataGroup`
  src/pygama/flow/__init__.py
  src/pygama/flow/datagroup.py
Labels: flow

#462 Option to pass filter coefficients to DPLMS processor
  src/pygama/dsp/processors/dplms.py
  tests/dsp/processors/test_dplms.py
Labels: dsp

#463 Changes ready for p03
  src/pygama/dsp/processors/convolutions.py
  src/pygama/dsp/processors/dplms.py
  src/pygama/pargen/AoE_cal.py
  src/pygama/pargen/cuts.py
  src/pygama/pargen/ecal_th.py
  src/pygama/pargen/energy_optimisation.py
  src/pygama/pargen/extract_tau.py
Labels: dsp, pargen

#469 Remove outdated tutorials directory.
  tutorials/DataProcessing.ipynb
  tutorials/HADESDataTutorial.ipynb
  tutorials/LH5ParGridSearch.ipynb
  tutorials/WriteProcessors.ipynb
  tutorials/metadata/LPGTA_dsp.json
  tutorials/metadata/__init__.py
  tutorials/metadata/cage.json
  tutorials/metadata/dsp_config.json
  tutorials/metadata/optimizer_results.json
Labels: docs
