Repository legend-exp/pygama, pull requests merged in 2023-11, with the labels that each got.

#514 A/E and calibration changes
  src/pygama/math/peak_fitting.py
  src/pygama/pargen/AoE_cal.py
  src/pygama/pargen/ecal_th.py
  src/pygama/pargen/energy_cal.py
  src/pygama/pargen/energy_optimisation.py
  src/pygama/pargen/extract_tau.py
  src/pygama/pargen/utils.py
Labels: pargen

#523 Pre-compute `col_tiers` in `DataLoader.build_entry_list()` for speedup
  src/pygama/flow/data_loader.py
Labels: flow, performace

#526 Bug fix: `array_id` in TCM columns must be of integer dtype
  src/pygama/evt/tcm.py
  tests/evt/test_build_tcm.py
Labels: bug, evt
