Repository legend-exp/pygama, pull requests merged in 2023-04, with the labels that each got.

#476 Expand `build_raw()` manual
  docs/source/manuals/build_raw.rst
  src/pygama/raw/raw_buffer.py
Labels: docs

#480 Reverted from `scipy.fftconvolve` to `numpy.convolve` as causing issues at LNGS
  src/pygama/dsp/processors/convolutions.py
  src/pygama/dsp/processors/dplms.py
Labels: dsp

#475 Support chunked loading with `DataLoader.next()`
  src/pygama/flow/data_loader.py
  src/pygama/flow/file_db.py
  src/pygama/flow/utils.py
  src/pygama/logging.py
  tests/flow/test_data_loader.py
Labels: flow
