Repository legend-exp/pygama, pull requests merged in 2023-02, with the labels that each got.

#453 Fixed bug in the `overwrite` option in `write_object`
  src/pygama/lgdo/lh5_store.py
  tests/lgdo/test_lh5_store.py
Labels: bug, lgdo

#455 Enhancement: ability to append columns to existing tables in lh5 files using `store.write_object`
  src/pygama/lgdo/lh5_store.py
  tests/lgdo/test_lh5_store.py
Labels: enhancement, lgdo

#427 Adding daq to raw validation code
  .github/workflows/main.yml
  tests/raw/test_daq_to_raw.py
Labels: tests, raw

#457 Allow using list of input table patterns for TCM setup
  src/pygama/evt/build_tcm.py
Labels: evt
