Repository legend-exp/pygama, pull requests merged in 2023-01, with the labels that each got.

#432 Bound Pandas version to >=1.4.4
  setup.cfg
Labels: packaging

#430 Add an `LGDO` supertype
  src/pygama/lgdo/__init__.py
  src/pygama/lgdo/array.py
  src/pygama/lgdo/arrayofequalsizedarrays.py
  src/pygama/lgdo/fixedsizearray.py
  src/pygama/lgdo/lgdo.py
  src/pygama/lgdo/scalar.py
  src/pygama/lgdo/struct.py
  src/pygama/lgdo/table.py
  src/pygama/lgdo/vectorofvectors.py
  tests/lgdo/test_scalar.py
Labels: lgdo

#422 Switch to GPLv3 license
  .pre-commit-config.yaml
  LICENSE
  setup.cfg
Labels: packaging

#436 Add Sphinx extension to handle Numba-decorated functions
  docs/source/conf.py
  docs/source/extensions/numbadoc.py
Labels: docs

#437 Bugfixes and other improvements in pargen for l200
  src/pygama/pargen/AoE_cal.py
  src/pygama/pargen/cuts.py
  src/pygama/pargen/dsp_optimize.py
  src/pygama/pargen/ecal_th.py
  src/pygama/pargen/energy_optimisation.py
  src/pygama/pargen/extract_tau.py
Labels: pargen

#439 Bug fix in `DataStreamer.open_stream()`
  src/pygama/raw/data_streamer.py
Labels: bug, raw

#433 `processors.get_multi_local_extrema()`: new advanced search methods (+ unit tests)
  src/pygama/dsp/processors/get_multi_local_extrema.py
  tests/dsp/configs/sipm-dplms-config.json
  tests/dsp/configs/sipm-dsp-config.json
  tests/dsp/processors/test_get_multi_local_extrema.py
  tests/dsp/test_processing_chain.py
Labels: dsp

#434 `processors.histogram()`: check that bin edges array is +1 longer than weights array
  src/pygama/dsp/processors/histogram.py
  tests/dsp/processors/test_histogram.py
Labels: dsp

#440 Minor miscellaneous updates
  .github/pull_request_template.md
  .readthedocs.yaml
  docs/Makefile
  docs/source/conf.py
Labels: docs

#415 Added data trimming to build_raw stage
  src/pygama/dsp/processors/presum.py
  src/pygama/raw/buffer_processor/__init__.py
  src/pygama/raw/buffer_processor/buffer_processor.py
  src/pygama/raw/buffer_processor/lh5_buffer_processor.py
  src/pygama/raw/data_streamer.py
  src/pygama/raw/raw_buffer.py
  tests/raw/buffer_processor/test_buffer_processor.py
  tests/raw/buffer_processor/test_buffer_processor_configs/buffer_processor_config.json
  tests/raw/buffer_processor/test_buffer_processor_configs/lh5_buffer_processor_config.json
  tests/raw/buffer_processor/test_buffer_processor_configs/raw_out_spec_no_proc.json
  tests/raw/buffer_processor/test_lh5_buffer_processor.py
Labels: raw

#421 Add ORRunDecoderForRun to Orca decoders
  src/pygama/lgdo/lh5_store.py
  src/pygama/raw/orca/orca_run_decoder.py
  src/pygama/raw/orca/orca_streamer.py
  tests/raw/orca/conftest.py
  tests/raw/orca/test_or_run_decoder_for_run.py
Labels: raw

#446 Pargen changes based on l200 data
  src/pygama/pargen/AoE_cal.py
  src/pygama/pargen/cuts.py
  src/pygama/pargen/ecal_th.py
  src/pygama/pargen/energy_cal.py
  src/pygama/pargen/energy_optimisation.py
  src/pygama/pargen/extract_tau.py
Labels: pargen

#447 Remove hardcoded value from test for `ORRunDecoderForRun`
  tests/raw/orca/test_or_run_decoder_for_run.py
Labels: tests, raw

#449 Fix for scipy bug/change
  setup.cfg
  src/pygama/pargen/energy_optimisation.py
Labels: pargen

#450 Fix pre-commit.ci failure
  .pre-commit-config.yaml
Labels: packaging

#357 Implemented CoMPASS DAQ data decoder
  setup.cfg
  src/pygama/raw/build_raw.py
  src/pygama/raw/compass/__init__.py
  src/pygama/raw/compass/compass_config_parser.py
  src/pygama/raw/compass/compass_event_decoder.py
  src/pygama/raw/compass/compass_header_decoder.py
  src/pygama/raw/compass/compass_streamer.py
  tests/raw/compass/conftest.py
  tests/raw/compass/test_compass_event_decoder.py
  tests/raw/compass/test_compass_header_decoder.py
  tests/raw/compass/test_compass_streamer.py
  tests/raw/test_build_raw.py
Labels: raw

#445 Added adc_bit_depth to an lgdo waveform's values attributes
  src/pygama/dsp/processing_chain.py
  src/pygama/lgdo/waveform_table.py
  src/pygama/raw/data_decoder.py
  src/pygama/raw/fc/fc_event_decoder.py
  src/pygama/raw/orca/orca_digitizers.py
  tests/dsp/test_processing_chain.py
  tests/raw/fc/test_fc_event_decoder.py
Labels: dsp, raw, lgdo

#448 DataLoader: handling of non-scalar data
  src/pygama/flow/data_loader.py
  src/pygama/flow/file_db.py
  src/pygama/lgdo/table.py
  src/pygama/lgdo/vectorofvectors.py
  tests/flow/test_data_loader.py
  tests/lgdo/test_table.py
  tests/lgdo/test_vectorofvectors.py
Labels: flow
