Repository legend-exp/pygama, pull requests merged in 2023-05, with the labels that each got.

#481 Support chaining FileDB files and other improvements
  src/pygama/flow/data_loader.py
  src/pygama/flow/file_db.py
  src/pygama/flow/utils.py
  tests/flow/configs/data-loader-config.json
  tests/flow/configs/filedb-config.json
  tests/flow/conftest.py
  tests/flow/test_data_loader.py
  tests/flow/test_filedb.py
Labels: flow

#442 Preparations for waveform and HDF5 built-in compression
  .github/workflows/main.yml
  .pre-commit-config.yaml
  attic/pygama/lgdo/wfcompress.py
  docs/Makefile
  setup.cfg
  src/pygama/cli.py
  src/pygama/dsp/processing_chain.py
  src/pygama/dsp/processors/upsampler.py
  src/pygama/lgdo/__init__.py
  src/pygama/lgdo/array.py
  src/pygama/lgdo/arrayofequalsizedarrays.py
  src/pygama/lgdo/compression/__init__.py
  src/pygama/lgdo/compression/base.py
  src/pygama/lgdo/compression/generic.py
  src/pygama/lgdo/compression/radware.py
  src/pygama/lgdo/compression/utils.py
  src/pygama/lgdo/compression/varlen.py
  src/pygama/lgdo/encoded.py
  src/pygama/lgdo/fixedsizearray.py
  src/pygama/lgdo/lgdo.py
  src/pygama/lgdo/lgdo_utils.py
  src/pygama/lgdo/lh5_store.py
  src/pygama/lgdo/scalar.py
  src/pygama/lgdo/struct.py
  src/pygama/lgdo/table.py
  src/pygama/lgdo/vectorofvectors.py
  src/pygama/lgdo/waveform_table.py
  src/pygama/raw/__init__.py
  src/pygama/raw/buffer_processor/buffer_processor.py
  src/pygama/raw/buffer_processor/lh5_buffer_processor.py
  src/pygama/raw/build_raw.py
  src/pygama/raw/compass/compass_event_decoder.py
  src/pygama/raw/data_decoder.py
  src/pygama/raw/data_streamer.py
  src/pygama/raw/fc/fc_event_decoder.py
  src/pygama/raw/fc/fc_status_decoder.py
  src/pygama/raw/orca/orca_digitizers.py
  src/pygama/raw/orca/orca_flashcam.py
  src/pygama/raw/raw_buffer.py
  tests/lgdo/compression/conftest.py
  tests/lgdo/compression/sigcompress/LDQTA_r117_20200110T105115Z_cal_geds_raw-0.dat
  tests/lgdo/compression/sigcompress/special-wf-clipped.dat
  tests/lgdo/compression/test_compression.py
  tests/lgdo/compression/test_radware_sigcompress.py
  tests/lgdo/compression/test_str2wfcodec.py
  tests/lgdo/compression/test_uleb128_zigzag_diff.py
  tests/lgdo/test_array.py
  tests/lgdo/test_arrayofequalsizedarrays.py
  tests/lgdo/test_encoded.py
  tests/lgdo/test_lh5_store.py
  tests/lgdo/test_representations.py
  tests/lgdo/test_scalar.py
  tests/lgdo/test_vectorofvectors.py
  tests/lgdo/test_waveform_table.py
  tests/raw/buffer_processor/test_buffer_processor.py
  tests/raw/buffer_processor/test_lh5_buffer_processor.py
  tests/raw/fc/test_fc_event_decoder.py
Labels: raw, lgdo

#485 Support nesting of `DataLoader` config in a JSON file
  src/pygama/flow/data_loader.py
  src/pygama/flow/file_db.py
  tests/flow/configs/config.json
  tests/flow/configs/nested/config.json
  tests/flow/configs/nested/data-loader-config-nested.json
  tests/flow/test_data_loader.py
  tests/flow/test_filedb.py
  tests/flow/test_flow_utils.py
Labels: flow

#484 Add WaveformBrowser compatibility to DataLoader
  setup.cfg
  src/pygama/flow/data_loader.py
  src/pygama/lgdo/compression/radware.py
  src/pygama/lgdo/compression/varlen.py
  src/pygama/lgdo/lgdo_utils.py
  src/pygama/lgdo/lh5_store.py
  src/pygama/vis/waveform_browser.py
  tests/flow/test_data_loader.py
  tests/lgdo/test_lh5_iterator.py
Labels: vis, flow

#486 Properly substitute variables in `FileDB` and `DataLoader` configuration
  .readthedocs.yaml
  src/pygama/flow/data_loader.py
  src/pygama/flow/file_db.py
  src/pygama/lgdo/lgdo_utils.py
  src/pygama/lgdo/lh5_store.py
  tests/lgdo/test_lgdo_utils.py
Labels: flow

#487 Bug fix in `FileDB.from_disk()`
  src/pygama/flow/file_db.py
Labels: bug, flow

#491 Switch to pylegendtestdata package
  docs/source/notebooks/IntroToDSP.ipynb
  docs/source/notebooks/LH5Files.ipynb
  docs/source/notebooks/WaveformBrowser.ipynb
  setup.cfg
  tests/conftest.py
Labels: dependencies

#496 Fixed error in `DataLoader.get_iterator()` caused when no column is requested from a data tier
  src/pygama/flow/data_loader.py
Labels: bug, flow

#497 Add more progress bars to `DataLoader`
  setup.cfg
  src/pygama/dsp/build_dsp.py
  src/pygama/flow/data_loader.py
  src/pygama/raw/build_raw.py
  src/pygama/vis/waveform_browser.py
Labels: flow

#493 Let ``DataLoader`` default setters overwrite (not append) + `lgdo.Struct.int_dtype`
  src/pygama/flow/data_loader.py
  src/pygama/lgdo/lh5_store.py
  src/pygama/lgdo/struct.py
  src/pygama/lgdo/table.py
  tests/flow/test_data_loader.py
Labels: flow
