Repository legend-exp/pygama, pull requests merged in 2024-04, with the labels that each got.

#567 `build_evt()` partial refactor (including `modules.spms`)
  .github/workflows/main.yml
  codecov.yml
  docs/source/conf.py
  pyproject.toml
  src/pygama/evt/aggregators.py
  src/pygama/evt/build_evt.py
  src/pygama/evt/modules/__init__.py
  src/pygama/evt/modules/geds.py
  src/pygama/evt/modules/larveto.py
  src/pygama/evt/modules/spm.py
  src/pygama/evt/modules/spms.py
  src/pygama/evt/utils.py
  src/pygama/flow/data_loader.py
  src/pygama/hit/build_hit.py
  src/pygama/utils.py
  tests/evt/configs/basic-evt-config.json
  tests/evt/configs/basic-evt-config.yaml
  tests/evt/configs/module-test-evt-config.json
  tests/evt/configs/module-test-t0-vov-evt-config.json
  tests/evt/configs/spms-module-config.yaml
  tests/evt/configs/vov-test-evt-config.json
  tests/evt/modules/larveto.py
  tests/evt/test_build_evt.py
  tests/evt/test_utils.py
  tests/flow/test_filedb.py
  tests/skm/test_build_skm.py
Labels: evt

#573 Remove `skm` subpackage
  src/pygama/hit/build_hit.py
  src/pygama/skm/__init__.py
  src/pygama/skm/build_skm.py
  tests/conftest.py
  tests/hit/test_build_hit.py
  tests/skm/configs/basic-skm-config.json
  tests/skm/test_build_skm.py
Labels: evt

#575 Fix random CI failures related to tqdm and latest GitHub MacOS runners
  .github/workflows/main.yml
  pyproject.toml
  src/pygama/evt/utils.py
Labels: tests

#564 Pargen refactor
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CITATION.cff
  codecov.yml
  docs/source/conf.py
  docs/source/extensions/numbadoc.py
  pyproject.toml
  src/pygama/cli.py
  src/pygama/evt/aggregators.py
  src/pygama/evt/build_evt.py
  src/pygama/evt/modules/__init__.py
  src/pygama/evt/modules/geds.py
  src/pygama/evt/modules/larveto.py
  src/pygama/evt/modules/legend.py
  src/pygama/evt/modules/spm.py
  src/pygama/evt/modules/spms.py
  src/pygama/evt/utils.py
  src/pygama/flow/data_loader.py
  src/pygama/flow/file_db.py
  src/pygama/hit/build_hit.py
  src/pygama/logging.py
  src/pygama/math/binned_fitting.py
  src/pygama/math/functions/exgauss.py
  src/pygama/math/functions/hpge_peak.py
  src/pygama/math/functions/polynomial.py
  src/pygama/math/functions/sum_dists.py
  src/pygama/math/histogram.py
  src/pygama/math/hpge_peak_fitting.py
  src/pygama/math/unbinned_fitting.py
  src/pygama/pargen/AoE_cal.py
  src/pygama/pargen/cuts.py
  src/pygama/pargen/data_cleaning.py
  src/pygama/pargen/dplms_ge_dict.py
  src/pygama/pargen/dsp_optimize.py
  src/pygama/pargen/ecal_th.py
  src/pygama/pargen/energy_cal.py
  src/pygama/pargen/energy_optimisation.py
  src/pygama/pargen/extract_tau.py
  src/pygama/pargen/lq_cal.py
  src/pygama/pargen/mse_psd.py
  src/pygama/pargen/noise_optimization.py
  src/pygama/pargen/utils.py
  src/pygama/utils.py
  tests/conftest.py
  tests/evt/configs/basic-evt-config.json
  tests/evt/configs/basic-evt-config.yaml
  tests/evt/configs/module-test-evt-config.json
  tests/evt/configs/module-test-t0-vov-evt-config.json
  tests/evt/configs/spms-module-config.yaml
  tests/evt/configs/vov-test-evt-config.json
  tests/evt/modules/larveto.py
  tests/evt/test_build_evt.py
  tests/evt/test_utils.py
  tests/flow/test_filedb.py
  tests/math/functions/test_polynomial.py
  tests/pargen/test_aoecal.py
  tests/pargen/test_datacleaning.py
  tests/pargen/test_ecal.py
  tests/pargen/test_lqcal.py
  tests/skm/test_build_skm.py
Labels: pargen, math
