Repository legend-exp/pygama, pull requests merged in 2024-01, with the labels that each got.

#539 Update developer's guide
  README.md
  docs/source/developer.rst
Labels: docs

#522 Support the latest legend-pydataobj and dspeed versions
  .github/workflows/main.yml
  setup.cfg
  src/pygama/cli.py
  src/pygama/evt/build_tcm.py
  src/pygama/flow/data_loader.py
  src/pygama/flow/file_db.py
  src/pygama/hit/build_hit.py
  src/pygama/pargen/AoE_cal.py
  src/pygama/pargen/cuts.py
  src/pygama/pargen/ecal_th.py
  src/pygama/pargen/energy_optimisation.py
  src/pygama/pargen/extract_tau.py
  src/pygama/pargen/utils.py
  tests/configs/icpc-dsp-config.json
  tests/configs/sipm-dplms-config.json
  tests/configs/sipm-dsp-config.json
  tests/evt/test_build_tcm.py
  tests/hit/test_build_hit.py
Labels: dependencies

#543 Update `build_hit()` to support the latest `Table.eval()`
  docs/source/conf.py
  setup.cfg
  src/pygama/hit/build_hit.py
  tests/hit/configs/basic-hit-config.json
  tests/hit/test_build_hit.py
Labels: hit

#544 Operations in `build_hit()` config can now be arbitrarily ordered
  src/pygama/hit/build_hit.py
  tests/hit/configs/basic-hit-config.json
  tests/hit/test_build_hit.py
Labels: enhancement, hit

#533 Routine to create dplms dictionary for Ge processing
  src/pygama/pargen/dplms_ge_dict.py
Labels: pargen

#549 Modification of load data to account for lgdo changes
  src/pygama/pargen/utils.py
Labels: pargen

#550 Fix pandas future deprecations
  setup.cfg
  src/pygama/flow/file_db.py
Labels: dependencies

#551 Fix for aggregators in `evt` to index output with `evt_idx` instead of `ch_idx`
  src/pygama/evt/aggregators.py
  src/pygama/evt/build_evt.py
  src/pygama/flow/file_db.py
Labels: bug, evt
