Repository legend-exp/pygama, pull requests merged in 2024-02, with the labels that each got.

#554 bugfix for pargen load_data to eval all fields in hit dict, specify dtype when init lh5 objects in evt and support subtables in skm
  src/pygama/evt/aggregators.py
  src/pygama/math/histogram.py
  src/pygama/math/peak_fitting.py
  src/pygama/pargen/utils.py
  src/pygama/skm/build_skm.py
Labels: bug, pargen, evt

#557 Allow `build_evt()` and `build_skm()` to just return the output table
  .github/workflows/main.yml
  docs/source/conf.py
  src/pygama/evt/build_evt.py
  src/pygama/skm/build_skm.py
  tests/evt/test_build_evt.py
  tests/skm/configs/basic-skm-config.json
  tests/skm/test_build_skm.py
Labels: evt

#559 Bug fix: `evt.modules.spm.cast_trigger` where Awkward arrays not replacing `nan`s
  src/pygama/evt/modules/spm.py
  src/pygama/flow/utils.py
Labels: bug, evt

#560 Bump legend-pydataobj version and ignore Pandas/Pyarrow deprecation warning
  pyproject.toml
  setup.cfg
Labels: dependencies
