Repository legend-exp/pygama, pull requests merged in 2024-05, with the labels that each got.

#574 LAr AC classifier: changes to `larveto.py`
  src/pygama/evt/modules/larveto.py
  src/pygama/evt/modules/spms.py
  tests/evt/configs/spms-module-config.yaml
  tests/evt/modules/larveto.py
Labels: evt

#578 A/E related pargen updates
  src/pygama/math/unbinned_fitting.py
  src/pygama/pargen/AoE_cal.py
Labels: pargen

#572 Cross talk correction code for `build_evt()`
  CITATION.cff
  pyproject.toml
  src/pygama/evt/aggregators.py
  src/pygama/evt/build_evt.py
  src/pygama/evt/modules/geds.py
  src/pygama/evt/modules/xtalk.py
  src/pygama/hit/build_hit.py
  src/pygama/math/distributions.py
  tests/evt/configs/basic-evt-config.yaml
  tests/evt/configs/vov-test-evt-config.json
  tests/evt/test_geds.py
  tests/evt/test_xtalk.py
Labels: evt

#577 LQ calibration updates
  src/pygama/pargen/lq_cal.py
  tests/pargen/test_lqcal.py
Labels: pargen

#580 Remove outdated hacks to make `evt.modules.spms` work with older data production versions
  src/pygama/evt/modules/larveto.py
  src/pygama/evt/modules/spms.py
  tests/evt/test_build_evt.py
Labels: evt

#582 Pargen bug fixes
  src/pygama/pargen/energy_cal.py
  src/pygama/pargen/lq_cal.py
Labels: bug, pargen

#583 pargen: calibration routines fixes
  src/pygama/math/functions/hpge_peak.py
  src/pygama/pargen/AoE_cal.py
  src/pygama/pargen/energy_cal.py
Labels: pargen

#584 Bugfix in A/E time correction
  src/pygama/pargen/AoE_cal.py
Labels: pargen
